/* reset.css */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

article, aside, dialog, figure, footer, header, hgroup, nav, section {
  display: block; }

body {
  line-height: 1.5; }

a img {
  border: none; }

/* typography.css */
html {
  font-size: 100.01%; }

body {
  font-size: 100%;
  font-family: Helvetica, Arial, 'Helvetica Neue';
  color: #3a3833; }

.center {
  text-align: center; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #57544f; }

h1 {
  line-height: 1;
  margin-bottom: 0.5em;
  margin-top: 1em;
  font-size: 1.2em;
  text-transform: uppercase;
  color: #d03800; }

h2 {
  line-height: 1;
  font-family:  Helvetica, Arial, 'Helvetica Neue';
  font-weight: 500;
  color: #d03800; }

h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
  font-family:  Helvetica, Arial, 'Helvetica Neue';
  font-weight: 500;
  text-align: center; }

h4 {
  font-size: 1em;
  margin-bottom: 0;
  font-family:  Helvetica, Arial, 'Helvetica Neue';
  font-weight: 500;
  color: #d03800;
  float: left;
  /* For slide download on the right */ }
  h4 span {
    display: block; }

p {
  margin: 0 0 1.5em; }

em, i {
  font-weight: normal;
  font-style: normal;
  font-family:  Helvetica, Arial, 'Helvetica Neue';
  font-style: italic; }

aside {
  font-size: 1.25em;
  font-family:  Helvetica, Arial, 'Helvetica Neue';
  font-style: italic;
  margin: 1em 0 3.5em 0;
  color: #57544f;
  text-align: center; }

/* layout */
#root {
  margin-top: 0; }

.container {
  width: 95%;
  max-width: 720px;
  margin: 1.5em auto 4.5em auto; }

.logo_header {
  padding-top: 0.5em; }

#logo {
  width: 214px;
  font-size: 1em;
  margin: 2em auto;
  padding: 0; }
  #logo a {
    background-image: url(../images/logo-b.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    display: block;
    width: 214px;
    height: 214px; }
    #logo a:hover {
      background-position: -426px 0; }

nav ul {
  text-align: center; }
nav li {
  display: inline-block;
  margin: 0 2.5%; }
nav a {
  display: inline-block;
  padding: 0.5em 0.75em 0.4em;
  color: #a01f0c;
  text-decoration: none; }
  nav a:hover, nav a:active, nav a:focus {
    text-decoration: underline; }

.submit-btn {
  background-color: #d03800;
  color: white;
  border-radius: 4px;
  margin-left: 10px; }
  .submit-btn:hover, .submit-btn:active, .submit-btn:focus {
    color: white;
    background-color: #a01f0c;
    text-decoration: none; }

.banner {
  background-color: #d03800;
  color: white;
  text-align: center;
  font-size: 0.75em;
  padding: 0.5em; }

article {
  margin-bottom: 6em;
  clear: left; }

/* design */
body {
  background: white; }

hr {
  border: 0.12em dotted #c4c2be;
  margin-bottom: 1em; }

/* state changes (special styles for next meetup) */
h2.title-block {
  font-family:  Helvetica, Arial, 'Helvetica Neue';
  font-weight: 500;
  font-size: 2em;
  padding: 0.5em 0;
  margin: 0;
  color: white;
  background: #57544f;
  text-align: center; }

article header {
  margin-bottom: 3em; }

.next h2.title-block {
  color: white;
  background: #d03800; }
.next .attention {
  font-style: italic;
  color: #d03800; }

aside, footer, .next p {
  color: #57544f; }

/* links */
a {
  padding: 0 1px;
  color: #a01f0c;
  text-decoration: none;
  -webkit-transition: color 0.3s ease, background-color 0.3s ease;
  -moz-transition: color 0.3s ease, background-color 0.3s ease;
  transition: color 0.3s ease, background-color 0.3s ease; }
  a:hover, a:active, a:focus {
    color: #d03800;
    text-decoration: underline;
    outline: none; }
